.main-background {
  background: linear-gradient(128deg, #121537, #3a427f, #060930);
}

.additional-background {
  background: linear-gradient(165deg, #1a1c4b, #0897ab) repeat-y;
}

.static-background {
  background: linear-gradient(140deg, rgba(26,28,75,1) 0%, rgba(0,124,142,1) 100%);
}
